In [2]:
import pandas as pd
pd.read_parquet("data/driver_stats_lat_lon.parquet")

,event_timestamp,driver_id,conv_rate,acc_rate,created,day,miles_driven,daily_miles_driven,lat,lon
0,2022-02-27 15:00:00+00:00,1005,0.142214,0.408987,2022-03-14 15:21:25.842,2022-02-27,24.817618,150.587752,1.693756,1.550350
1,2022-02-27 16:00:00+00:00,1005,0.349267,0.734021,2022-03-14 15:21:25.842,2022-02-27,8.293352,150.587752,1.371052,3.637346
2,2022-02-27 17:00:00+00:00,1005,0.358805,0.366804,2022-03-14 15:21:25.842,2022-02-27,8.316672,150.587752,2.077928,4.232362
3,2022-02-27 18:00:00+00:00,1005,0.611828,0.773883,2022-03-14 15:21:25.842,2022-02-27,10.566458,150.587752,1.185602,0.046604
4,2022-02-27 19:00:00+00:00,1005,0.156503,0.966413,2022-03-14 15:21:25.842,2022-02-27,15.664332,150.587752,0.633673,1.016666
...,...,...,...,...,...,...,...,...,...,...
1802,2022-03-14 11:00:00+00:00,1001,0.667961,0.211051,2022-03-14 15:21:25.842,2022-03-14,40.500185,350.650257,2.390705,3.319251
1803,2022-03-14 12:00:00+00:00,1001,0.209861,0.672022,2022-03-14 15:21:25.842,2022-03-14,21.341177,350.650257,2.179745,1.250355
1804,2022-03-14 13:00:00+00:00,1001,0.215754,0.791849,2022-03-14 15:21:25.842,2022-03-14,8.068214,350.650257,1.289601,6.045587
1805,2022-03-14 14:00:00+00:00,1001,0.404588,0.407571,2022-03-14 15:21:25.842,2022-03-14,46.533292,350.650257,2.710022,5.376999
1806,2021-04-12 07:00:00+00:00,1001,0.521149,0.751659,2022-03-14 15:21:25.842,2021-04-12,18.926695,18.926695,1.265647,1.150815